@function get-color($color) {
    @return map-get($palette, $color);
}

@function text-color($type) {
    @return map-get($text-color, $type);
}

$palette: (white: #FFF,
    gray: #888,
    black: #000,
);

$text-color: (primary: get-color(white),
    secondary: get-color(gray),
);

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

* {
    color: text-color(primary);
}

.dashboard {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-areas:
        "prices"
        "macd"
        "rsi"
    ;
    grid-template-rows:
        48% 25% 27%;
}

.chart {
    margin: 0% 2%;
}

#price {
    grid-area: "prices";
    background: red;
    margin-top: 2%;
}

#macd {
    grid-area: "macd";
    background: green;
}

#rsi {
    grid-area: "rsi";
    background: blue;
    margin-bottom: 2%;
}