:root {
  --menu-padding: 6px;
  --dragable-height: 23px;
  --menu-height: calc(var(--menu-padding) + var(--dragable-height));
  --button-svg-size: 12px;
  --button-width: 45px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #292D3E;
}

* {
  color: #A5CCD6;
  font-family: 'Roboto Mono', sans-serif;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(1, 1, 1, 0.2);
}

#top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #1B1E2B;
  width: 100%;
}

#top-bar #dragable {
  -webkit-app-region: drag;
  width: calc(100% - var(--button-width));
  height: var(--dragable-height);
  margin: var(--menu-padding) 0 0 var(--menu-padding);
}

#top-bar #top-bar-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#top-bar .top-bar-button {
  width: var(--button-svg-size);
  height: calc(var(--button-svg-size) + var(--menu-padding));
  padding: calc((var(--dragable-height) - var(--button-svg-size)) / 2) calc((var(--button-width) - var(--button-svg-size)) / 2);
  fill: none;
  stroke: #9AA0C0;
  stroke-width: 1px;
}

#top-bar .top-bar-button#btn-min:hover {
  background: #323541;
}

#top-bar .top-bar-button#btn-close:hover {
  background: #D41224;
  stroke: white;
}

#contents {
  width: 100%;
  height: calc(100% - var(--menu-height));
  overflow-y: scroll;
}

.container {
  width: 250px;
  margin: 0 auto;
}

#startup section {
  margin: 1em 0;
}

#startup h3, #startup h4 {
  margin-bottom: 0.75em;
  color: #FFCB6B;
}

#startup p {
  font-size: 0.8em;
}

#startup input[type=text], #startup input[type=password] {
  width: 225px;
  height: 21px;
  border-radius: 0.1em;
  border: 0;
  margin: 0;
  padding: 0 0.3em;
  background: #1B1E2B;
  color: #A6ACCD;
}

#startup input[type=checkbox] {
  width: 15px;
  height: 15px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

#startup button {
  width: 60%;
  font-size: 0.8em;
  border-radius: 0.75em;
  border: 0;
  margin: 1em 0;
  padding: 0.4em;
  cursor: pointer;
  background: #1B1E2B;
  color: #A5CCD6;
}

#startup span {
  font-size: 0.8em;
}

#startup .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.5em;
}

#startup .field span {
  margin-bottom: 0.5em;
}

#startup #connection {
  margin-bottom: 0.5em;
}

#startup #mysql-fields {
  display: none;
}

#dashboard {
  width: 100%;
  height: calc(100vh - var(--menu-height));
  display: none;
      grid-template-areas: "prices" "macd" "rsi";
  -ms-grid-rows: 48% 25% 27%;
      grid-template-rows: 48% 25% 27%;
}

.chart {
  margin: 0% 2%;
}

#price {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: prices;
  margin-top: 2%;
}

#macd {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: macd;
}

#rsi {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: rsi;
  margin-bottom: 2%;
}
/*# sourceMappingURL=main.css.map */