@function get-color($color) {
    @return map-get($palette, $color);
}

@function text-color($type) {
    @return map-get($text-color, $type);
}

$palette: (white: #FFF,
    gray: #888,
    black: #000,
    light-gray: #A6ACCD,
    weird-gray: #A5CCD6,
);

$text-color: (primary: get-color(weird-gray),
    secondary: get-color(light-gray));

:root {
    --menu-padding: 6px;
    --dragable-height: 23px;
    --menu-height: calc(var(--menu-padding) + var(--dragable-height));
    --button-svg-size: 12px;
    --button-width: 45px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #292D3E;
}

* {
    color: text-color(primary);
    font-family: 'Roboto Mono', sans-serif;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-corner {
    background-color: rgba(1, 1, 1, 0.5);;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(1, 1, 1, 0.2);
}

#top-bar {
    display: flex;
    background: #1B1E2B;
    width: 100%;

    #dragable {
        -webkit-app-region: drag;
        width: calc(100% - var(--button-width));
        height: var(--dragable-height);
        margin: var(--menu-padding) 0 0 var(--menu-padding);
    }

    #top-bar-buttons {
        display: flex;
        justify-content: flex-end;
    }

    .top-bar-button {
        width: var(--button-svg-size);
        height: calc(var(--button-svg-size) + var(--menu-padding));
        padding: calc((var(--dragable-height) - var(--button-svg-size)) / 2) calc((var(--button-width) - var(--button-svg-size)) / 2);
        fill: none;
        stroke: #9AA0C0;
        stroke-width: 1px;
    }

    .top-bar-button#btn-min:hover {
        background: #323541;
    }

    .top-bar-button#btn-close:hover {
        background: #D41224;
        stroke: white;
    }
}

#contents {
    width: 100%;
    height: calc(100% - var(--menu-height));
    overflow-y: scroll;
}

.container {
    width: 250px;
    margin: 0 auto;
}

#startup {

    section {
        margin: 1em 0;
    }

    h3,
    h4 {
        margin-bottom: 0.75em;
        color: #FFCB6B;
    }

    p {
        font-size: 0.8em;
    }

    input[type=text],
    input[type=password],
    input[type=number] {
        width: 225px;
        height: 21px;
        border-radius: 0.1em;
        border: 0;
        margin: 0;
        padding: 0 0.3em;
        background: #1B1E2B;
        color: text-color(secondary);
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=checkbox] {
        width: 15px;
        height: 15px;
        transform: translateY(3px);
    }

    input[type=submit] {
        width: 60%;
        font-size: 0.8em;
        border-radius: 0.75em;
        border: 0;
        margin: 1em 0;
        padding: 0.4em;
        cursor: pointer;
        background: #1B1E2B;
        color: text-color(primary);
    }

    span {
        font-size: 0.8em;
    }

    .field {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5em;

        span {
            margin-bottom: 0.5em;
        }
    }

    #connection {
        margin-bottom: 0.5em;
    }

    #mysql-fields {
        display: none;
    }
}

#dashboard {
    width: 100%;
    height: calc(100vh - var(--menu-height));

    display: none;
    grid-template-areas:
        "prices"
        "macd"
        "rsi"
    ;
    grid-template-rows:
        48% 25% 27%;
}

.chart {
    margin: 0% 2%;
}

#price {
    grid-area: prices;
    //background: red;
    margin-top: 2%;
}

#macd {
    grid-area: macd;
    //background: green;
}

#rsi {
    grid-area: rsi;
    //background: blue;
    margin-bottom: 2%;
}