@function get-color($color) {
    @return map-get($palette, $color);
}

@function text-color($type) {
    @return map-get($text-color, $type);
}

$palette: (white: #FFF,
    gray: #888,
    black: #000,
    light-gray: #A6ACCD,
    weird-gray: #A5CCD6,
);

$text-color: (primary: get-color(weird-gray),
    secondary: get-color(light-gray));

:root {
    --menu-padding: 6px;
    --dragable-height: 23px;
    --menu-height: calc(var(--menu-padding) + var(--dragable-height));
    --button-svg-size: 12px;
    --button-width: 45px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #292D3E;
}

* {
    color: text-color(primary);
    font-family: 'Roboto Mono', sans-serif;
}

.button {
    width: var(--button-svg-size);
    height: calc(var(--button-svg-size) + var(--menu-padding));
    padding: calc((var(--dragable-height) - var(--button-svg-size)) / 2) calc((var(--button-width) - var(--button-svg-size)) / 2);
    fill: none;
    stroke: #9AA0C0;
    stroke-width: 1px;
}

.button#min-btn:hover {
    background: #323541;
}

.button#close-btn:hover {
    background: #D41224;
    stroke: white;
}

.menu {
    display: flex;
    background: #1B1E2B;

    .dragable {
        -webkit-app-region: drag;
        width: calc(100% - var(--button-width));
        height: var(--dragable-height);
        margin: var(--menu-padding) 0 0 var(--menu-padding);
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
    }
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 265px;
    height: calc(100% - 45px);
}

.startup {
    width: 265px;

    input {
        width: 135px;
        height: 21px;
        border-radius: 0.1em;
        border: 0;
        margin: 0;
        padding: 0 0.3em;
        background: #1B1E2B;
        color: text-color(secondary);
    }

    button {
        width: 249px;
        border-radius: 0.75em;
        border: 0;
        margin: 0;
        margin-top: 1em;
        cursor: pointer;
        padding: 0.3em;
        background: #1B1E2B;
        color: text-color(primary);
    }

    .command-line {
        display: inline-flex;
        margin-bottom: 0.25em;
    }

    #title {
        margin-bottom: 0.25em;
        color: #FFCB6B;
    }
}


.dashboard {
    width: 100%;
    height: calc(100vh - var(--menu-height));

    display: none;
    grid-template-areas:
        "prices"
        "macd"
        "rsi"
    ;
    grid-template-rows:
        48% 25% 27%;
}

.chart {
    margin: 0% 2%;
}

#price {
    grid-area: prices;
    //background: red;
    margin-top: 2%;
}

#macd {
    grid-area: macd;
    //background: green;
}

#rsi {
    grid-area: rsi;
    //background: blue;
    margin-bottom: 2%;
}